<footer  class="bg-main-light A shadow">

  <div class="container">
    <h2 class="h4">Get The FrechCart App</h2>
    <p>We Will Send You a Link, Open it on you phone to download the app</p>

    <div class="d-flex">

      <input type="email" class="form-control" placeholder="Email...">
      <button class="btn-main flex-shrink-0">Share App Link</button>



    </div>
     <hr>

      <p class="text-center py-5">Copyright © Your Website 2021</p>

      <hr>

  </div>

</footer>






















