<section  class="w-75 mx-auto shadow bg-light p-4 my-4">

  <form   [formGroup]="shoppingCash"  (ngSubmit)="handelForm()">

    <div>
      <label for="details">details</label>
      <input type="text" class="form-control" formControlName="details" id="details">

    </div>


    <div>
      <label for="phone">phone</label>
      <input type="tel" class="form-control" formControlName="phone" id="phone">

    </div>


    <div>
      <label for="city">city</label>
      <input type="text" class="form-control" formControlName="city" id="city">

    </div>

    <button class="btn-main mt-2 d-block ms-auto">Cash</button>
  </form>

</section>
